@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}
.top_nav {
  height: 100%;
  width: 100%;
}
.empty {
  height: 100%;
  width: 1px;
  border: 1px solid grey;
}
.blacked {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #191710;
}
.top_nav p {
  font-family: PitchSans, monospace;
  color: white;
  padding: 0.65 rem;
}
.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  /*position:fixed;*/
  gap: 20px;
  background-color: #222a41;
  color: white;
  width: 100%;
}
.agents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.agents p {
  margin-right: 20px;
  font-size: small;
}
.new {
  color: orangered;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.picture {
  background-color: #222a41;
  padding: 10px 0;
  button {
    cursor: pointer;
  }
  button:hover {
    background-color: gray;
    scale: 1.2;
  }
}
.picturised {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 50px;
  color: white;
  background-color: #222a41;
  height: 120vh;
  background-image: url(assets/aw.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.picturised h1 {
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: xx-large;
}
.picturised p {
  margin-bottom: 20px;
}
.picturised button {
  padding: 20px;
  height: fit-content;
  width: 150px;
  border-radius: 50px;
  background-color: white;
}
.strip {
  width: 100%;
  padding: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  color: black;
  white-space: nowrap;
  height: 30vh;
  justify-content: space-around;
  align-items: center;
  animation: strip-animation 22s linear infinite;
}
@keyframes strip-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}
.strip h1 {
  display: inline-flex;
  font-size: 2.8rem;
  font-weight: 500;
  padding-right: 30px;
}
.strip h1:hover {
  color: #9a3f20;
  text-decoration: underline;
  cursor: pointer;
}
.strip i {
  font-size: 2.2rem;
}
.blank {
  width: 90%;
  /* border: 1px solid gray; */
  margin-left: 50px;
}
.the {
  font-size: 40px;
  line-height: 30px;
  font-weight: bolder;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: RadioGrotesk, sans-serif;
}
.sales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: fit-content;
  max-width: 1000vw;
  overflow: hidden;
  height: 100vh;
}
.elements {
  background: url(assets/C1.png);
  height: 60vh;
  width: 30vw;
  background-repeat: no-repeat;
}
.card_1 img {
  z-index: 1;
  position: absolute;
  opacity: 0;
  height: fit-content;
  width: fit-content;
}
.card_1 .sale {
  z-index: 1;
  width: fit-content;
  border-radius: 40px;
  padding: 10px;
  display: block;
}
.card_1 button {
  padding: 20px;
  color: black;
  opacity: 0;
  border-radius: 30px;
  border: none;
  margin-top: 200px;
  margin-left: 20%;
  width: 90%;
}
.elements:hover {
  opacity: 1;
  cursor: pointer;
  background: url(assets/C1_HOVER.png);
  background-repeat: no-repeat;
  background-size: 90%;
}
.card_1 button:hover {
  opacity: 1;
  cursor: pointer;
  background-color: #5e693e;
  transition: transform 0.5s ease;
}
.card_1:hover .sale {
  display: none;
}
.colors1 {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #05024b;
}
.colors2 {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #d0cdc3;
}
.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  color: #191710;
  margin-left: 30px;
  button {
    cursor: pointer;
  }
  button:hover {
    background-color: #555;
    scale: 1.1;
    transition: 0.2s ease-in-out;
  }
}
.small_texts {
  color: black;
  padding: 20px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #e3ddce;
  width: 100%;
  padding: 20px 20px;
  height: 90vh;
}
.wool {
  display: flex;
  font-family: Caveat, cursive;
  flex-direction: column;
  padding-left: 40%;
  padding-top: 15px;
  font-size: 42px;
  line-height: 50px;
  font-weight: normal;
  color: rgb(154, 63, 32);
  align-items: center;
  justify-content: center;
  position: absolute;
}
.wool img {
  color: #b24a2f;
}

.hudson {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}
.hudson h1 {
  font-size: 50px;
  font-weight: normal;
  line-height: 60px;
  font-family: RadioGrotesk, sans-serif;
  color: rgb(186, 181, 165);
  margin-bottom: 20px;
}
.hudson p {
  font-family: NiceMicro, serif;
  font-size: 18px;
  font-weight: light;
  line-height: 26px;
  color: rgb(25, 23, 16);
  margin-bottom: 20px;
}
.hudson button {
  font-family: PitchSans, monospace;
  font-size: 16px;
  font-weight: semi bold;
  line-height: 18px;
  color: rgb(255, 255, 255);
  background-color: #9a3f20;
  border-radius: 2.5rem;
  padding: 1rem 2rem;
  transition: all 0.2s;
  border: none;
}
.hudson button:hover {
  background-color: #6c3a29;
  cursor: pointer;
}
.container img {
  zoom: 1.7;
}
.view {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  padding: 20px;
}
.panel_1 {
  margin-top: 50px;
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  cursor: pointer;
  transition: transform 0.3s ease;
  height: 120vh;
  gap: 20px;
  margin-bottom: 50px;
}
.panel_1:hover {
  transform: scale(1.07);
  z-index: 2;
}
.overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.overlay h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}
.overlay a {
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  padding-bottom: 2px;
}
.panel_1 img {
  height: 120vh;
  object-fit: cover;
  width: 280px;
  border-radius: 50px;
}
.uk {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  margin-bottom: 30px;
}
.texty h1 {
  font-size: 42px;
  font-weight: normal;
  line-height: 50px;
  margin-bottom: 20px;
  font-family: RadioGrotesk, sans-serif;
}
.texty p {
  font-size: 18px;
  font-weight: light;
  color: rgb(104, 104, 104);
  line-height: 26px;
  font-family: NiceMicro, serif;
}
.since {
  background-color: #222a41;
  color: white;
}
.since h1 {
  font-size: 40px;
  font-weight: bold;
}
.sheep {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 80vh;
}
.since h1 {
  padding: 50px;
  font-size: 88px;
  font-weight: normal;
  line-height: 70px;
  font-family: RadioGrotest, sans-serif;
}
.texts {
  line-height: 24px;
  padding: 30px;
  font-family: NiceMicro, serif;
  font-size: 16px;
  font-weight: normal;
  margin-left: 50px;
}
.texts button {
  color: white;
  font-weight: bold;
  padding: 10px;
  background: transparent;
  border-radius: 50px;
  margin-bottom: 30px;
}
.texts p {
  font-family: NiceMicro, serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: rgb(255, 255, 255);
}
.sheep img {
  border-radius: 20px;
  scale: 1.5;
}
.linen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(assets/linen.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.shacket {
  padding-left: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.price {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}
.price span {
  color: #191710;
  text-decoration: line-through;
}
.emptys {
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.empty_circle {
  margin-top: 50px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #ced2c5;
}
.empty_circle:hover {
  cursor: pointer;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #b24a2f;
  height: 150vh;
  display: flex;
  flex: 1;
  gap: 20px;
}
.top_left {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}
.newsletter {
  max-width: 700px;
  text-align: left;
  padding: 50px;
}
.newsletter h2 {
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 20px;
  line-height: 38px;
}
.signup {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto 20px;
  max-width: 100%;
  height: 70px;
}
.signup input {
  flex: 1;
  border: none;
  padding: 12px 20px;
  font-size: 1.2rem;
  outline: none;
  border-radius: 40px 0 0 40px;
}
.signup button {
  border: none;
  background: transparent;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 0 40px 40px 0;
  transition: background 0.3s;
}
.signup button:hover {
  background: #eee;
}
.terms {
  font-size: 0.8rem;
  color: #f0f0f0;
  line-height: 1.4;
}
.terms a {
  color: #fff;
  text-decoration: underline;
}
.signup button i {
  transform: rotate(90deg);
}
.markets {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 20px;
}
.certification p {
  font-size: 2rem;
  font-weight: normal;
  padding: 60px 30px;
}
.center ul {
  list-style: none;
  padding-top: 60px;
  line-height: 2;
  font-weight: normal;
  font-size: 1.5rem;
}
.center:hover {
  cursor: pointer;
}

.right ul {
  list-style: none;
  padding-top: 60px;
  line-height: 2;
  font-weight: normal;
  font-size: 1.5rem;
}
.right:hover {
  cursor: pointer;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  scale: 1.5;
}
.social i {
  color: white;
  padding: 10px;
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vh;
}
.rights {
  color: white;
  margin-top: 45vh;
  margin-left: -60px;
}
.product-section {
  width: 100%;
  height: 90vh;
  padding: 20px 0;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.product-list {
  display: flex;
  gap: 40px;
  min-width: max-content;
}
.product-card {
  width: 350px;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  margin: 20px;
  cursor: pointer;
  border: 1px solid purple;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
}

.product-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.product-image img {
  width: 100%;
  display: block;
  transition: opacity 0.4s ease;
}

.product-image .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.product-image:hover .default-img {
  opacity: 0;
}
.product-image:hover .hover-img {
  opacity: 1;
}
.quick-add {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: black;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.product-image:hover .quick-add {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(-5px);
}
.quick-add:hover {
  background-color: #5e693e;
  cursor: pointer;
}
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #f2f2f2;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 12px;
}

.wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  background: whitesmoke;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}
.wishlist i {
  padding: 20% 0;
}

.wishlist:hover {
  background: #f8f8f8;
}
.product-title {
  margin-top: 12px;
  font-size: 1.3rem;
  color: #222;
  margin-bottom: 10px;
}

.product-price {
  font-size: 14px;
  color: #555;
  margin-top: 4px;
}
.colors {
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
  justify-content: start;
  align-items: flex-start;
  gap: 10px;
}
.color1_1 {
  height: 18px;
  width: 20px;
  background-color: #d4cabc;
  border: 1px solid pink;
  border-radius: 50%;
}

.color2_1 {
  height: 18px;
  width: 20px;
  background-color: #dacfb3;
  border: 1px solid pink;
  border-radius: 50%;
}
.color2_2 {
  height: 18px;
  width: 20px;
  background-color: #05024b;
  border: 1px solid pink;
  border-radius: 50%;
}

.color3_1 {
  height: 18px;
  width: 20px;
  background-color: #05024b;
  border: 1px solid pink;
  border-radius: 50%;
}

.color3_2 {
  height: 20px;
  width: 20px;
  background-color: #c8bfaf;
  border: 1px solid pink;
  border-radius: 50%;
}
.color4_1 {
  height: 20px;
  width: 20px;
  background-color: black;
  border: 1px solid pink;
  border-radius: 50%;
}

.color5_1 {
  height: 20px;
  width: 20px;
  background-color: #c7beaf;
  border: 1px solid pink;
  border-radius: 50%;
}

.color5_2 {
  height: 20px;
  width: 20px;
  background-color: #05024b;
  border: 1px solid pink;
  border-radius: 50%;
}

.color5_3 {
  height: 20px;
  width: 20px;
  background-color: #e7dbc4;
  border: 1px solid pink;
  border-radius: 50%;
}

.color5_4 {
  height: 20px;
  width: 20px;
  background-color: #9e9665;
  border: 1px solid pink;
  border-radius: 50%;
}

.color5_5 {
  height: 20px;
  width: 20px;
  background-color: #777777;
  border: 1px solid pink;
  border-radius: 50%;
}

.color5_6 {
  height: 20px;
  width: 20px;
  background-color: #b45233;
  border: 1px solid pink;
  border-radius: 50%;
}

@media (max-width: 768px) {
  header {
    .empty {
      display: none;
    }
    .boot {
      display: none;
    }
  }

  .cntry {
    display: none;
  }
  .agents {
    display: none;
  }
  .nav_bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo {
    font-size: small;
  }
  .picture {
    .picturised {
      background-size: cover;
    }
  }
  .blank {
    .the {
      font-size: 30px;
    }
  }
  .medium {
    .hudson h1{
      font-size: x-large;
      line-height: 40px;

    }
    .container {
      img {
        height: 30vh;
        /* width: 50vw; */
      }
    }
  }
  .view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  } 
  .since {
    h1 {
      font-size: 40px;
    }
    .sheep {
      
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
  }
  .linen {
    display: flex;
    justify-content: start;
    align-items:center;
    .shacket {
      h3 {
        font-weight: bold;
        color: white;
      }
      h2 {
        font-weight: bold;
        color: white;
      }
      p{
        
        font-weight: bold;
        color: white;
        span {
          
        font-weight: bold;
        color: white;
        }
      }
      .empty_circle {
        display: none;
      }
    }
  }
  .newsletter {
    h2 {
      font-size:medium;
    }
    form {
      max-width: 70vw;
    }
  }
  .certification {
    display: none;
  }
  .img img {
    width: 50vw;
    display: none;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: max-content;
  }
  .right {
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      span {
        font-size: xx-large;
      }
    }
  }
  .container {
    margin-top: 100px;
  }
}